<ion-header>
	<ion-toolbar class="ion-text-center" color="primary">
		<ion-title>Churrascos</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
		<ion-item>
			<ion-icon name="restaurant-outline"></ion-icon>
			<ion-label class="ion-text-wrap">
				<h3>Churrasco na casa do Carlos</h3>
				<p>Participantes</p>
				<p>Data</p>
				<p>Valor total</p>
			</ion-label>
			<button ion-button item-end>Detalhes</button>
			
		</ion-item>
	</ion-card>

	<ion-card>
		<ion-item>
			<ion-icon name="restaurant-outline"></ion-icon>
			<ion-label class="ion-text-wrap">
				<h2>Teste 3</h2>
				<h3>Teste</h3>
				<p>detalhe</p>
			</ion-label>
		</ion-item>
	</ion-card>

	<ion-card>
		<ion-item>
			<ion-icon name="restaurant-outline"></ion-icon>
			<ion-label class="ion-text-wrap">
				<h2>Teste 3</h2>
				<h3>Teste</h3>
				<p>detalhe</p>
			</ion-label>
		</ion-item>
	</ion-card>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button>
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>